ObserverClient/Connected Services/ObserverService/ObserverService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ObserverService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IObserverService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IObserverService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IObserverService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetTrackOption_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackOption" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetTrackOption_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackOptionResponse" />
  </wsdl:message>
  <wsdl:message name="IObserverService_ChangeTrackOption_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeTrackOption" />
  </wsdl:message>
  <wsdl:message name="IObserverService_ChangeTrackOption_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeTrackOptionResponse" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetEventLogsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventLogsCount" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetEventLogsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventLogsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IObserverService_AddEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="IObserverService_AddEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="IObserverService_ConnectToDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToDataBase" />
  </wsdl:message>
  <wsdl:message name="IObserverService_ConnectToDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="IObserverService_SendNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNotification" />
  </wsdl:message>
  <wsdl:message name="IObserverService_SendNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IObserverService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IObserverService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetLogTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogTable" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetLogTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogTableResponse" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypes" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetTypeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeById" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetTypeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetLoginById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginById" />
  </wsdl:message>
  <wsdl:message name="IObserverService_GetLoginById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IObserverService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/TestConnection" message="tns:IObserverService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/TestConnectionResponse" message="tns:IObserverService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackOption">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/GetTrackOption" message="tns:IObserverService_GetTrackOption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/GetTrackOptionResponse" message="tns:IObserverService_GetTrackOption_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeTrackOption">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/ChangeTrackOption" message="tns:IObserverService_ChangeTrackOption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/ChangeTrackOptionResponse" message="tns:IObserverService_ChangeTrackOption_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventLogsCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/GetEventLogsCount" message="tns:IObserverService_GetEventLogsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/GetEventLogsCountResponse" message="tns:IObserverService_GetEventLogsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/AddEvent" message="tns:IObserverService_AddEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/AddEventResponse" message="tns:IObserverService_AddEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/ConnectToDataBase" message="tns:IObserverService_ConnectToDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/ConnectToDataBaseResponse" message="tns:IObserverService_ConnectToDataBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/SendNotification" message="tns:IObserverService_SendNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/SendNotificationResponse" message="tns:IObserverService_SendNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/Authenticate" message="tns:IObserverService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/AuthenticateResponse" message="tns:IObserverService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/GetLogTable" message="tns:IObserverService_GetLogTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/GetLogTableResponse" message="tns:IObserverService_GetLogTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/GetTypes" message="tns:IObserverService_GetTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/GetTypesResponse" message="tns:IObserverService_GetTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/GetTypeById" message="tns:IObserverService_GetTypeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/GetTypeByIdResponse" message="tns:IObserverService_GetTypeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginById">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserverService/GetLoginById" message="tns:IObserverService_GetLoginById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserverService/GetLoginByIdResponse" message="tns:IObserverService_GetLoginById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IObserverService" type="tns:IObserverService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IObserverService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackOption">
      <soap:operation soapAction="http://tempuri.org/IObserverService/GetTrackOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTrackOption">
      <soap:operation soapAction="http://tempuri.org/IObserverService/ChangeTrackOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventLogsCount">
      <soap:operation soapAction="http://tempuri.org/IObserverService/GetEventLogsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="http://tempuri.org/IObserverService/AddEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToDataBase">
      <soap:operation soapAction="http://tempuri.org/IObserverService/ConnectToDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <soap:operation soapAction="http://tempuri.org/IObserverService/SendNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IObserverService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogTable">
      <soap:operation soapAction="http://tempuri.org/IObserverService/GetLogTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypes">
      <soap:operation soapAction="http://tempuri.org/IObserverService/GetTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeById">
      <soap:operation soapAction="http://tempuri.org/IObserverService/GetTypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginById">
      <soap:operation soapAction="http://tempuri.org/IObserverService/GetLoginById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IObserverService" type="tns:IObserverService">
    <wsp:PolicyReference URI="#NetTcpBinding_IObserverService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackOption">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/GetTrackOption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTrackOption">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/ChangeTrackOption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventLogsCount">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/GetEventLogsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/AddEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToDataBase">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/ConnectToDataBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/SendNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogTable">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/GetLogTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypes">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/GetTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeById">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/GetTypeById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginById">
      <soap12:operation soapAction="http://tempuri.org/IObserverService/GetLoginById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObserverService">
    <wsdl:port name="BasicHttpBinding_IObserverService" binding="tns:BasicHttpBinding_IObserverService">
      <soap:address location="http://localhost:8080/ObserverService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IObserverService" binding="tns:NetTcpBinding_IObserverService">
      <soap12:address location="net.tcp://localhost:8090/ObserverService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/ObserverService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>user-HP\user</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>